<!doctype html>
<html  lang="es">
	<head>
		<meta charset="utf-8"/>
		<title>Inicio</title>
		<link rel="stylesheet" type="text/css" href="css.css">

        <!--Esta siguiente linea es para coger de la nube un tipo de fuente estrecha-->
        <!--<link href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600,700&amp;subset=latin" rel="stylesheet">-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
        <script>
            $(function() {
                var pull        = $('#pull');
                    menu        = $('nav ul');
                    menuHeight  = menu.height();

                $(pull).on('click', function(e) {
                    e.preventDefault();
                    menu.slideToggle();

                });

                $(window).resize(function(){
                    var w = $(window).width();
                    if(w > 320 && menu.is(':hidden')) {
                        menu.removeAttr('style');
                    }
                });
            });
        </script>


	</head>
	<body>

    <!--MENU RESPONSIVE-->
    <nav class="clearfix">

    <!--Logo-->
        <div id="logo">
            <img src="img/logotxiki.png" />
        </div>

        <div id="buscador">
             <form method="get" action="/search" id="search">
                <input name="q" type="text" size="40" placeholder="Search..." />
            </form>
        </div>

        <ul class="clearfix" id="botoiak">
            <li><a href="#">Novedades</a></li>
            <li><a href="lista.handlebars">Artistas</a></li>
            <li><a href="lista.handlebars">Localidades</a></li>
            <li><a href="#">Perfil</a></li>
            <li  id="buscador2">
                <div>
                 <form method="get" action="/search" id="search">
                  <input name="q" type="text" size="40" placeholder="Search..." />
                 </form>
                </div>    
            </li>

        </ul>
        <a href="#" id="pull"><img src="img/logotxiki.png" /></a>
        <!--Buscador-->
        
        <!--Final buscador-->
    </nav>
    <!--final menu-->


	</body>

</html>